<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<h1>Signup</h1>

<%= form_for :user, url: '/users', html: { class: 'signup-form' } do |f| %>
  <div class="form-group">
    <%= f.label :first_name, 'First Name' %>
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'Enter your first name' %>
  </div>
  <div>
  <%= f.label :last_name, 'Last Name' %>
  <%= f.text_field :last_name, class: 'form-control', placeholder: 'Enter your last name' %>
</div>

  <div>
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Enter your email' %>
  </div>

  <div>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Choose a password' %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Password Confirmation' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your password' %>
  </div>

  <div>
    <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
  </div>
<% end %>